<div class="shape-map" ng-class="{'transparent':isPositionSended}">

	    <button ng-drag="true" ng-if="!isPaused" type="button" class="button button-large iconGrow_{{happinessData.level}}"
	            ng-class="{'iconGrow_5 active': isHappinessLevelSet, 'iconGrow_6 gone': isPositionSended}"
	            on-touch="startHappiness()" on-release="pauseHappiness()">

	        <span>{{buttonMSG}}</span>
	        <i class=" icon ion-happy-outline "></i>
	    </button>
	    <div ng-show="isPaused" class="buttonPausedBlock" >
			<button ng-click="stopHappiness()" >OK</button>
			<input ng-model="hashtag" class="hashtagText" type="text"></input>
		</div>

		<div style="position:absolute;bottom:20px;right:20px;font-size:5em; z-index:999;" id="cancelArea" ng-drop="true" ng-click="cancelHappiness()" ng-drop-success="cancelHappiness()">
		<br>X
		</div>


</div>
